<mat-card>
  <mat-card-content>
    <mat-card-title>Version 0.2.0 (20 Feb 2023)</mat-card-title>
    <ul class="list-unstyled m-t-40">
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Feature : Self Service - Mobile</h5>
          <p> Operator can change their personal details using the app e.g. emergency contact, super, tfn, license, etc.
          </p>     
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module : Health and Safety </h5>
          <p>Hazard Reporting - All Checked-In staff can report safety hazard using their mobile.
          <br>Hazard Reporting - Cloud Report to view all hazard. under Operations > Safety menu.
          </p>     
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Mobule : Employee Management (Improvements)</h5>
          <p> HR can update termination date of an employee. 
            <br>Employee can also resign using their smart phone.
            <br>Employee List report option added to select Terminated Status.
          </p>     
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Operations</h5>
          <p> Device now tracks user travel speed and restricts usage over specified limit.
            <br> User can disable the feature while taking the resposiblity of their action.
            <br> Minor bug fixes to prestart.
            <br> Prestart completetion notification to manager as well as Application Super Users.
            <br> Plant QR code generation for printing. 
          </p>     
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">App Store Releases</h5>
          <p> Version 0.2.1 Mobile app released for both Android and Apple.
          </p>     
        </div>
      </li>
      <li class="media my-4">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Minor Enhancements and Bug Fixes</h5>
            Leave Current report bugs fix.
            <br> Leave attachement can now be seen with bigger popup window
            <br> Bug Fix: Daily CheckIn edit on mobile
            <br> Bug Fix: STT was not working in Prestart when card is left swiped
            <br> Refactor Mobile top Process Card sequence  implementation 
            <br> Bug Fix: links corrected to correct locations for Demand Board
            <br> Apple and Android system bug tracking system implemented for future bug fixes
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-card-title>Version 0.0.8 (23 Jan 2023)</mat-card-title>
    <ul class="list-unstyled m-t-40">
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module : Plant PreStart</h5>
          <p> Operator Mobile module to scan and perform prestarts on Mobile
          <br> Features include Offline Mode, AI based voice recognition, flexible card and training interface.
          <br> Ability for Maintenance to view defects in realtime.
          </p>     
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module : Daily CheckIn</h5>
          <p> All staff can checkIn single click. Location is automatically recorded.
          <br> Cloud Report to view all Daily CheckIns
          </p>     
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module : Asset Management</h5>
          <p> Ability to search and view all assets within the organisation.
          </p>     
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">App Store Releases</h5>
          <p> Version 0.0.8 Mobile app released for both Android and Apple.
          </p>     
        </div>
      </li>
      <li class="media my-4">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Minor Enhancements</h5>
            Leave Current report with payment frequency filter.
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-card-title>Version 0.0.5 (22 Dec 2022)</mat-card-title>
    <ul class="list-unstyled m-t-40">
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module : Staff Movements</h5>
          <p>
            Staff Movements : Transfer an employee when the location, gangs, rate, level changes in 3 step process
          <br> Ability for manangers to view, create, recommend and approve a transfer.
          <br> Ability for Payroll to view approved transfers.
          </p>     
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">App Store Releases</h5>
          <p> Apple App Store app released for iPhone with redeem method of delivery.
          <br> New user shall recieved a redeem code on their iPhone to install the app.
          <br> Android app is released on PlayStore. Discontinued manual install process.
          </p>     
        </div>
      </li>
      <li class="media my-4">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Minor Enhancements</h5>
          An HR manager can now specify the payment frequency - Weekly, Fortnightly or Monthly - for
          an employee during user creation process.
        </div>
      </li>
      <li class="media my-4">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Known Issues</h5>
          1. The SMS messages are currently disabled due to security issues.
          <br>2. Phone Level notification is currently unavailable.
        </div>
      </li>
      <hr />
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-card-title>Version 0.0.3 (14 Oct 2022)</mat-card-title>
    <ul class="list-unstyled m-t-40">
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module : Staff Onboarding</h5>
          All new Employee is required to do their onboarding via the App
          <br> HR and Payroll can view the employee onboarded data.
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Leave Attachment</h5>
          Employees can upload the attachments for manager to view during approval process.
        </div>
      </li>
      <li class="media my-4">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Minor Enhancements</h5>
          User Profile Picture : User can change profile page to upload profile picture
          <br> People and Culture new report for employee listing and employee profile
          <br> Dashboard: Employees can see the total no of employees regsitered in last 30 days.

        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-card-title>Version 0.0.2 (16 Sept 2022)</mat-card-title>
    <ul class="list-unstyled m-t-40">
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module: Resignation Process For Mobile</h5>
          Employees can resign directly from mobile & manager can view those who are applied
        </div>
      </li>
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module: Real Time Notification for Mobile and Cloud</h5>
          Employees and manager can see the notifications during processes.
        </div>
      </li>
      <li class="media my-4">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Minor Enhancements</h5>
          HR can view and download staffs leave history on Cloud App
        </div>
      </li>
  
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Change Password</h5>
          Employees have the ability to change their password on own
        </div>
      </li>
      <hr />
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-card-title>Version 0.0.1 (1 Sept 2022)</mat-card-title>
    <ul class="list-unstyled m-t-40">
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Module: Employee Leave</h5>
          Employees having ability to apply for leave and view their history
        </div>
      </li>
      <hr />
      <li class="media my-4">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Minor Enhancements</h5>
          Dashboard : Employees can see the total staff number.
          <br> Employees can see their basic profile information.

        </div>
      </li>
      <hr />
      <li class="media">
        <img
          class="m-r-15 shrink-none img-circle"
          src="../../assets/img/rtl-logo-new-icon.jpg"
          width="40"
          alt="Release Note"
        />
        <div class="media-body">
          <h5 class="m-t-0 m-b-10 font-medium">Genesis</h5>
          Initial build for cloud and mobile app, infrastructure setup, security setup, android app
          <br> Employees can see their basic profile information.

        </div>
      </li>
      <hr />
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <!-- <h4>Designed and Build by Dragon & Peaches Consulting</h4> -->
    <div class="media-body">
      <h5 class="m-t-0 m-b-10 font-medium">Copyright RTL Mining and Earthworks Pty Ltd.</h5>
      Designed and Build by Dragon & Peaches Consulting
    </div>
  </mat-card-content>
</mat-card>
