<mat-card>
  <mat-card-header class="bg-inverse text-white">
    <mat-card-title> Hazard reported by {{
      hazardDetails?.reportedBy?.firstName + ' ' + hazardDetails?.reportedBy?.lastName}}
    </mat-card-title>
    <mat-card-subtitle>Reported {{ hazardDetails?.reportDate | dateAgo  }}
      <small> {{hazardDetails?.reportDate | date:'fullDate'}} {{hazardDetails?.reportDate | date:'shortTime'}}</small>
    </mat-card-subtitle>
    <img class="m-r-10 User-Img" (click)="openImageDialog($event.target.src)" onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';" [src]="globals.generateFileUrl( hazardDetails && hazardDetails.reportedBy && hazardDetails.reportedBy.profileImage.length > 0
                  ? hazardDetails.reportedBy.profileImage[0]?.digitalAssets?.url
                  : '','') " alt="" />
  </mat-card-header>
  <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="color_black">
        <h5>No: {{ hazardDetails?.hazardNo }}</h5>
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon class="color_blue"> location_on</mat-icon>
        {{ hazardDetails?.address }}
        <!-- <mat-icon class="color_blue">near_me</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        {{ hazardDetails?.description }}
      </mat-card-content>
    </mat-card>
    <div fxLayout="row-reverse" fxLayoutGap="30px">
      <div fxFlex="100%">
        <mat-card-subtitle style="vertical-align:bottom">
          <b>Supervisor</b><br> {{
          hazardDetails?.superviser?.firstName + ' ' + hazardDetails?.superviser?.lastName}}
        </mat-card-subtitle>
      </div>
      <div fxFlex="100%">

        <mat-card-subtitle style="vertical-align: top; text-align: end;">
          <img class="m-r-10 User-Img" onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';"
            [src]="globals.generateFileUrl( hazardDetails && hazardDetails.reportedBy && hazardDetails.reportedBy.profileImage.length > 0
        ? hazardDetails.superviser.profileImage[0]?.digitalAssets?.url
        : '','') " alt="" />
        </mat-card-subtitle>
      </div>
      <div fxFlex="100%">
        <mat-card-subtitle style="text-align:left; vertical-align: bottom;"> Risk
          <span [ngSwitch]="hazardDetails?.rishkLevel">
            <span *ngSwitchCase="1"><button mat-button>Very Low</button>
            </span>
            <span *ngSwitchCase="1"><button mat-button>Low</button>
            </span>
            <span *ngSwitchCase="3"><button mat-button color="warn">Medium</button>
            </span>
            <span *ngSwitchCase="4"><button mat-button color="warn">High</button>

            </span>
            <span *ngSwitchDefault><button mat-button color="accent">Extreme</button>
            </span>
          </span>
        </mat-card-subtitle>
      </div>
    </div>
  </mat-expansion-panel>
</mat-card>

<mat-card class="mat-card mat-focus-indicator">
  <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header> hazard images
    </mat-expansion-panel-header>
    <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
      <div fxflex.gt-sm="20%" fxflex="100" style="flex: 1 1 20%; box-sizing: border-box; max-width: 20%;"
        *ngFor="let rectImg of hazardDetails?.hazardMedia; let i = index;">
        <mat-card class="mat-card mat-focus-indicator">
          <mat-card-header class="mat-card-header bg-success text-white">
            <div class="mat-card-header-text">
              <mat-card-subtitle class="mat-card-subtitle" style="text-align: start;">
                <img class="m-r-10 User-Img"
                  onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';" [src]="globals.generateFileUrl( hazardDetails && hazardDetails.reportedBy && hazardDetails.reportedBy.profileImage.length > 0
        ? hazardDetails.reportedBy.profileImage[0]?.digitalAssets?.url
        : '','') " alt="" />
                Image {{i+1}}
              </mat-card-subtitle>
            </div>
          </mat-card-header>
          <mat-card-content class="mat-card-content">
            <img mat-card-image (click)="openImageDialog($event.target.src)" [src]="globals.generateFileUrl(rectImg?.digitalAssets?.url)" alt="Hazard Evidence">
           
            <small> File size {{ rectImg?.digitalAssets?.size }} bytes </small>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>
</mat-card>
<!-- second card -->
<ng-container *ngIf="hazardDetails?.rectifyFlag==false; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>This hazard has not been rectified yet
      </mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ng-template>
<ng-template #elseTemplate>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Rectified by {{
          hazardDetails?.rectification?.rectifiedBy?.firstName + ' ' + hazardDetails?.rectification?.rectifiedBy?.lastName
        }}
      </mat-card-title>
      <mat-card-subtitle>{{ hazardDetails?.rectification?.createDate | dateAgo  }}
        <small> {{hazardDetails?.rectification?.createDate | date:'fullDate'}}
          {{hazardDetails?.rectification?.createDate | date:'shortTime'}}</small>
      </mat-card-subtitle>
      <img class="m-r-10 User-Img" onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';" [src]="
          globals.generateFileUrl(
            hazardDetails &&
              hazardDetails?.rectification?.rectifiedBy &&
              hazardDetails?.rectification?.rectifiedBy?.profileImage?.length > 0
              ? hazardDetails?.rectification?.rectifiedBy?.profileImage[0]?.digitalAssets?.url
              : '',
            ''
          )
        " alt="" />
    </mat-card-header>
    <!-- <mat-card-subtitle class="color_blue">
          Rectification Notes
        </mat-card-subtitle> -->
    <mat-card class="backgroud accent">
      <mat-card-content>
        {{ hazardDetails?.rectification?.description }}
      </mat-card-content>
    </mat-card>
  </mat-card>
  <mat-card class="mat-card mat-focus-indicator">
    <mat-expansion-panel [expanded]="false" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header> rectified images
      </mat-expansion-panel-header>
      <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
        <div fxflex.gt-sm="20%" fxflex="100" style="flex: 1 1 20%; box-sizing: border-box; max-width: 20%;"
          *ngFor="let rectImg of hazardDetails?.rectification?.rectificationMedia; let i = index;">
          <mat-card class="mat-card mat-focus-indicator">
            <mat-card-header class="mat-card-header bg-success text-white">
              <div class="mat-card-header-text">
                <mat-card-title class="mat-card-title">
                  <img class="m-r-10 User-Img" (click)="openImageDialog($event.target.src)"
                    onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';" [src]="
                      globals.generateFileUrl(
                        hazardDetails &&
                          hazardDetails?.rectification?.rectifiedBy &&
                          hazardDetails?.rectification?.rectifiedBy?.profileImage?.length > 0
                          ? hazardDetails?.rectification?.rectifiedBy?.profileImage[0]?.digitalAssets?.url
                          : '',
                        ''
                      )
                    " alt="" /> evidence
                </mat-card-title>
                <mat-card-subtitle class="mat-card-subtitle">Image {{i+1}}</mat-card-subtitle>
              </div>
            </mat-card-header>
            <mat-card-content class="mat-card-content">
              <p> File size {{ rectImg?.digitalAssets?.size }} </p>
              <img mat-card-image (click)="openImageDialog($event.target.src)" [src]="globals.generateFileUrl(rectImg?.digitalAssets?.url)" alt="Hazard Evidence">
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-card>
</ng-template>
