<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    
    <mat-card class="m-0 m-t-20 m-b-5">
      <mat-card-content class="p-15">
        
        <div class="m-l-10 m-r-10">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row" style="align-items: center">
            <div fxFlex.gt-sm="80" class="p-r-10" fxFlex="100"></div>
            <div fxFlex.gt-sm="20" class="text-center" fxFlex="50">
              <button mat-icon-button>
                <mat-icon>cloud_download</mat-icon>
                Export List
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
            </div>
            </div>
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <div fxFlex.gt-sm="25" class="p-r-10" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="Filter" />
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="20" class="p-r-10" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="Category">
                  <mat-option value="Option1">Option1</mat-option>
                  <mat-option value="Option2">Option2</mat-option>
                  <mat-option value="Option3">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="20" class="p-r-10" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="Hazard Severity">
                  <mat-option value="Option1">Option1</mat-option>
                  <mat-option value="Option2">Option2</mat-option>
                  <mat-option value="Option3">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex.gt-sm="10" class="p-r-10" fxFlex="100"></div>
            <div fxFlex.gt-sm="25" class="font-12">
              <mat-form-field appearance="outline">
                <mat-label (click)="picker.open()">Select Date Range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" readonly (click)="picker.open()" />
                  <input matEndDate placeholder="End date" readonly (click)="picker.open()" />
                </mat-date-range-input>

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="m-0 m-t-5 m-b-5">
      <mat-card-content>
        <div class="table-responsive infinite-scroll">
          <mat-table
            #table
            [dataSource]="dataSource"
            (scroll)="onTableScroll($event)"
            class="table employee-list no-wrap"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row; let index = dataIndex">
                <mat-checkbox [ngClass]="getStatusColor(row?.leaveStatus, true)"> </mat-checkbox>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="icon">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row; let index = dataIndex">
                <mat-icon>fiber_manual_record</mat-icon>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let row">{{ row?.createDate | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef>No</th>
              <td mat-cell *matCellDef="let row">
                {{ row?.hazardNo }}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="hazard">
              <th mat-header-cell *matHeaderCellDef>Hazard</th>
              <td mat-cell *matCellDef="let row">
                <div style="display: flex; align-items: center">
                  <img class="m-r-10 hazard-Img" src="../../assets/img/default-asset.jpg" alt="" />

                  {{ row?.description}}
                </div>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Category</th>
              <td mat-cell *matCellDef="let row">
                {{ row?.category?.name }}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef>Location</th>
              <td mat-cell *matCellDef="let row">
                {{ row?.address}}
                <mat-icon class="color_blue">near_me</mat-icon>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="reportedBy">
              <th mat-header-cell *matHeaderCellDef>Reported By</th>
              <td mat-cell *matCellDef="let row">
                <div style="display: flex; align-items: center">
                  <img class="m-r-10 list-Img"
                      onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';"
                      [src]="globals.generateFileUrl(row && row.reportedBy && row.reportedBy.profileImage.length>0?row.reportedBy.profileImage[0]?.digitalAssets?.url:'','')"
                      alt="" />
                  <!-- <img class="m-r-10 list-Img" 
                  src="../../assets/img/user-default-img" alt="" /> -->

                  {{ row?.reportedBy?.firstName  + ' ' + row?.reportedBy?.lastName }} 
                </div>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="by">
              <th mat-header-cell *matHeaderCellDef>By</th>
              <td mat-cell *matCellDef="let row">
                <div style="display: flex; align-items: center">
                  <img class="m-r-10 list-Img"
                      onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';"
                      [src]="globals.generateFileUrl(row && row.super && row.superv.profileImage.length>0?row.supe.profileImage[0]?.digitalAssets?.url:'','')"
                      alt="" />
                      {{ row?.superviser?.f + ' ' + row?.superviser?.l }} 
                </div>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="supervisor">
              <th mat-header-cell *matHeaderCellDef>Supervisor</th>
              <td mat-cell *matCellDef="let row">
                <div style="display: flex; align-items: center">
                  <img class="m-r-10 list-Img"
                      onerror="this.onerror=null;this.src='../../assets/img/user-default-img.jpg';"
                      [src]="globals.generateFileUrl(row && row.superviser && row.superviser.profileImage.length>0?row.superviser.profileImage[0]?.digitalAssets?.url:'','')"
                      alt="" />
                  <!-- <img class="m-r-10 list-Img" src="../../assets/img/user-default-img" alt="" /> -->

                  {{ row?.superviser?.firstName  + ' ' + row?.superviser?.lastName }} 
                </div>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="rectifyOn">
              <th mat-header-cell *matHeaderCellDef>Reactify On</th>
              <td mat-cell *matCellDef="let row">30/01/2023</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: displayedColumns"
              class="example-element-row"
              style="vertical-align: top"
              [routerLink]="['/report/hazad']"
              [queryParams]="{ id: element.id }"
              [ngClass]="{ 'selected-row': selectedId == element.id }"
            ></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">No Data Available</td>
            </tr>
          </mat-table>

          <!-- <mat-paginator
            [length]="totalRecords"
            [pageIndex]="pageNo"
            [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="pageSize"
            aria-label="Select page"
          >
          </mat-paginator> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
